.button {
    display: inline-block;
    background-color: #0F6302;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    margin-right: 1px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.button:active {
    background-color: #23e705;
    box-shadow: -5px -5px 0px black;
}

.button:hover {
    background-color: #23e705;
}
