.main-section {
    background-color: #928022;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 730px;
    border-bottom: 7px solid #7C5E99;
}

.main-section .main-title {
    margin-bottom: 90px;
}

.main-section.-bg {
    background-color: #5E5112;
    border-color: #F25A70;
    height: 520px;
}