.main-home {
    display: flex;
    margin-right: 20px;
    background-color: #ff664b;
    left: 90%;
    bottom: 300px;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main-home .content {
    margin-left: 11px;
    margin-top: 30%;
}