.skill-tec {
    display: flex;
    color: white;
    font-size: 25px;
    align-items: center;
}

.skill-tec .icon {
    margin-right: 25px;
    width: 90px;
}

.skill-tec .rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}