.wrapper-links {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 28px;
}

.wrapper-links .ico{
    background-color: white;
    border-radius: 35px;
    border: dotted;
    margin-right: 30px;
}